body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #00008a;
    color: white;
}

.container {
    text-align: center;
    
}

.container h1 {
    font-size: 2.75em;
    font-weight: bold;
    margin-top: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    margin: 15px auto;
    border: 6.0px solid white;
}

.cell {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.5em;
    cursor: pointer;
    border: 3.0px solid #ffffff;
}

.message {
    font-size: 1.45em;
    margin-bottom: 8px;
}

#resetButton {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #8d0000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.2em;
}

.winning-line {
    position: absolute;
    background-color: #ff0000;
    height: 4px;
    width: 150px;
    transition: width 0.3s ease-in-out;
}